Source: libblockdev
Section: libs
Priority: optional
Maintainer: Peter Hatina <phatina@redhat.com>
Build-Depends: debhelper (>= 9), autotools-dev, libtool,
               dh-python,
               dh-autoreconf,
               libglib2.0-dev (>= 2.42.2),
               libgirepository1.0-dev,
               libcryptsetup-dev (>= 1.6.7),
               libdevmapper-dev (>= 1.02.93),
               libudev-dev (>= 216),
               libsystemd-dev,
               libdmraid-dev,
               libvolume-key-dev,
               libnss3-dev (>= 3.18.0),
               libparted-dev (>= 3.1),
               libmount-dev (>= 2.23.0),
               libblkid-dev (>= 2.23.0),
               libpython-dev,
               libpython3-dev,
               libkmod-dev (>= 19),
               gtk-doc-tools,
               pylint
Standards-Version: 3.9.6
Homepage: https://github.com/rhinstaller/libblockdev
#Vcs-Git: git://anonscm.debian.org/collab-maint/libblockdev.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/libblockdev.git;a=summary

Package: libblockdev0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Library for manipulating block devices.
 The libblockdev is a C library with GObject introspection support that can be
 used for doing low-level operations with block devices like setting up LVM,
 BTRFS, LUKS or MD RAID. The library uses plugins (LVM, BTRFS,...) and serves as
 a thin wrapper around its plugins' functionality. All the plugins, however, can
 be used as standalone libraries. One of the core principles of libblockdev is
 that it is stateless from the storage configuration's perspective (e.g. it has
 no information about VGs when creating an LV).

Package: libblockdev-dev
Section: libdevel
Architecture: any
Depends: libblockdev (= ${binary:Version}),
         ${misc:Depends}
Description: Development files for libblockdev
 This package contains header files and pkg-config files needed for development
 with the libblockdev library.

Package: python-blockdev
Section: python
Architecture: all
Depends: libblockdev (= ${binary:Version}),
         ${python2:Depends},
         ${shlibs:Depends},
         ${misc:Depends}
Description: Python2 gobject-introspection bindings for libblockdev
 This package contains enhancements to the gobject-introspection bindings for
 libblockdev in Python2.

Package: python3-blockdev
Section: python
Architecture: all
Depends: libblockdev (= ${binary:Version}),
         ${python3:Depends},
         ${shlibs:Depends},
         ${misc:Depends}
Description: Python3 gobject-introspection bindings for libblockdev
 This package contains enhancements to the gobject-introspection bindings for
 libblockdev in Python3.

Package: libblockdev-utils0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Library with utility functions for the libblockdev library
 The libblockdev-utils is a library providing utility functions used by the
 libblockdev library and its plugins.

Package: libblockdev-utils-dev
Section: libdevel
Architecture: any
Depends: libblockdev-utils0 (= ${binary:Version}),
         libglib2.0-dev
         ${misc:Depends}
Description: Development files for libblockdev-utils
 This package contains header files and pkg-config files needed for development
 with the libblockdev-utils library.

Package: libblockdev-btrfs0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         libblockdev-utils0 (>= 0.11),
         btrfs-tools
Description: BTRFS plugin for the libblockdev library
 The libblockdev library plugin (and in the same time a standalone library)
 providing the BTRFS-related functionality.

Package: libblockdev-btrfs-dev
Section: libdevel
Architecture: any
Depends: libblockdev-btrfs0 (= ${binary:Version}),
         libblockdev-utils-dev (= ${binary:Version}),
         libglib2.0-dev
Description: Development files for the libblockdev-btrfs plugin/library
 This package contains header files and pkg-config files needed for development
 with the libblockdev-btrfs plugin/library.

Package: libblockdev-crypto0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Crypto plugin for the libblockdev library
 The libblockdev library plugin (and in the same time a standalone library)
 providing the functionality related to encrypted devices (LUKS).

Package: libblockdev-crypto-dev
Section: libdevel
Architecture: any
Depends: libblockdev-crypto0 (= ${binary:Version}),
         libglib2.0-dev
Description: Development files for the libblockdev-crypto plugin/library
 This package contains header files and pkg-config files needed for development
 with the libblockdev-crypto plugin/library.

Package: libblockdev-dm0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         libblockdev-utils0 (>= 0.11),
         libdevmapper, dmraid
Description: Device Mapper plugin for the libblockdev library
 The libblockdev library plugin (and in the same time a standalone library)
 providing the functionality related to Device Mapper.

Package: libblockdev-dm-dev
Section: libdevel
Architecture: any
Depends: libblockdev-dm0 (= ${binary:Version}),
         libblockdev-utils-dev (= ${binary:Version}),
         libglib2.0-dev,
         libdevmapper-dev,
         libsystemd-dev,
         libdmraid-dev
Description: Development files for the libblockdev-dm plugin/library
 This package contains header files and pkg-config files needed for development
 with the libblockdev-dm plugin/library.

Package: libblockdev-fs0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: file system plugin for the libblockdev library
 The libblockdev library plugin (and in the same time a standalone library)
 providing the functionality related to operations with file systems

Package: libblockdev-fs-dev
Section: libdevel
Architecture: any
Depends: libblockdev-fs0 (= ${binary:Version}),
         libparted-dev,
         libmount-dev,
         libblkid-dev
Description: Development files for the libblockdev-fs plugin/library
 This package contains header files and pkg-config files needed for development
 with the libblockdev-fs plugin/library.

Package: libblockdev-kbd0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         libblockdev-utils0 (>= 0.11),
         bcache-tools (> 1.0.8)
Description: KBD plugin for the libblockdev library
 The libblockdev library plugin (and in the same time a standalone library)
 providing the functionality related to kernel block devices (namely zRAM and
 Bcache).

Package: libblockdev-kbd-dev
Section: libdevel
Architecture: any
Depends: libblockdev-kbd0 (= ${binary:Version}),
         libblockdev-utils-dev (= ${binary:Version}),
         libglib2.0-dev
Description: Development files for the libblockdev-kbd plugin/library
 This package contains header files and pkg-config files needed for development
 with the libblockdev-kbd plugin/library.

Package: libblockdev-loop0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         libblockdev-utils0 (>= 0.11),
         util-linux
Description: Loop plugin for the libblockdev library
 The libblockdev library plugin (and in the same time a standalone library)
 providing the functionality related to loop devices.

Package: libblockdev-loop-dev
Section: libdevel
Architecture: any
Depends: libblockdev-loop0 (= ${binary:Version}),
         libblockdev-utils-dev (= ${binary:Version}),
         libglib2.0-dev
Description: Development files for the libblockdev-loop plugin/library
 This package contains header files and pkg-config files needed for development
 with the libblockdev-loop plugin/library.

Package: libblockdev-lvm0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         libblockdev-utils0 (>= 0.11),
         lvm2
Description: LVM plugin for the libblockdev library
 The libblockdev library plugin (and in the same time a standalone library)
 providing the LVM-related functionality.

Package: libblockdev-lvm-dev
Section: libdevel
Architecture: any
Depends: libblockdev-lvm0 (= ${binary:Version}),
         libblockdev-utils-dev (= ${binary:Version}),
         libglib2.0-dev
Description: Development files for the libblockdev-lvm plugin/library
 This package contains header files and pkg-config files needed for development
 with the libblockdev-lvm plugin/library.

#Package: libblockdev-lvm-dbus0
#Package: libblockdev-lvm-dbus-dev

Package: libblockdev-mdraid0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         libblockdev-utils0 (>= 0.11),
         mdadm
Description: MD RAID plugin for the libblockdev library
 The libblockdev library plugin (and in the same time a standalone library)
 providing the functionality related to MD RAID.

Package: libblockdev-mdraid-dev
Section: libdevel
Architecture: any
Depends: libblockdev-mdraid0 (= ${binary:Version}),
         libblockdev-utils-dev (= ${binary:Version}),
         libglib2.0-dev
Description: Development files for the libblockdev-mdraid plugin/library
 This package contains header files and pkg-config files needed for development
 with the libblockdev-mdraid plugin/library.

Package: libblockdev-mpath0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         libblockdev-utils0 (>= 0.11),
         multipath-tools
Description: multipath plugin for the libblockdev library
 The libblockdev library plugin (and in the same time a standalone library)
 providing the functionality related to multipath devices.

Package: libblockdev-mpath-dev
Section: libdevel
Architecture: any
Depends: libblockdev-mpath0 (= ${binary:Version}),
         libblockdev-utils-dev (= ${binary:Version}),
         libglib2.0-dev
Description: Development files for the libblockdev-mpath plugin/library
 This package contains header files and pkg-config files needed for development
 with the libblockdev-mpath plugin/library.

# Package: libblockdev-part
# Package: libblockdev-part-dev

Package: libblockdev-swap0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         libblockdev-utils0 (>= 0.11),
         util-linux
Description: Swap plugin for the libblockdev library
 The libblockdev library plugin (and in the same time a standalone library)
 providing the functionality related to swap devices.

Package: libblockdev-swap-dev
Section: libdevel
Architecture: any
Depends: libblockdev-swap0 (= ${binary:Version}),
         libblockdev-utils-dev (= ${binary:Version}),
         libglib2.0-dev
Description: Development files for the libblockdev-swap plugin/library
 This package contains header files and pkg-config files needed for development
 with the libblockdev-swap plugin/library.

# Package: libblockdev-s390
# Package: libblockdev-s390-dev

Package: libblockdev-plugins-all
Section: libs
Architecture: any
Depends: libblockdev (= ${binary:Version}),
         libblockdev-btrfs0 (= ${binary:Version}),
         libblockdev-crypto0 (= ${binary:Version}),
         libblockdev-dm0 (= ${binary:Version}),
         libblockdev-kbd0 (= ${binary:Version}),
         libblockdev-loop0 (= ${binary:Version}),
         libblockdev-lvm0 (= ${binary:Version}),
         libblockdev-mdraid0 (= ${binary:Version}),
         libblockdev-mpath0 (= ${binary:Version}),
         libblockdev-swap0 (= ${binary:Version}),
Description: Meta-package that pulls all the libblockdev plugins as dependencies
 A meta-package that pulls all the libblockdev plugins as dependencies.
