#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,defs -Wl,--as-needed

%:
	dh $@  --with python3,gir

# nvdimm requires ndctl https://bugs.debian.org/829257
override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-tests \
		--without-s390 \
		--without-python2 \
		--without-nvdimm \
		$(NULL)

override_dh_install:
	find debian -name '*.la' -print -delete
	dh_install

override_dh_missing:
	dh_missing --fail-missing

override_dh_makeshlibs:
	dh_makeshlibs -- -c4
